/ main container
.container
  .masthead
    %h3.text-muted Videostreamer
    %ul.nav.nav-justified
      %li
        = link_to "Home", root_path
  .jumbotron
    = render 'shared/notifications'
    %h1 Marketing
    %p.lead Some paragraph stuff
  .row
    = yield
    .col-lg-4
      %h2 heading
      %p paragraph
    .col-lg-4
      %h2 heading
      %p paragraph
    .col-lg-4
      %h2 heading
      %p paragraph
  = render 'layouts/footer'
