%head
  %title= "Videostreamer"
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  %script{:type => "text/javascript", :src  => "//cdn.pandastream.com/u/2.0/panda-uploader.min.js"}
  = csrf_meta_tags
